body {
  font-family: "Ubuntu", sans-serif;

  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.logo {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.logo img {
  border: yellowgreen 5px solid;
  border-radius: 50%;
}
.nav-left {
  display: flex;
  align-items: center;
  width: 50%;
  /* background-color: brown; */
}

.nav-left li {
  list-style: none;
  padding: 23px 30px;
}
.nav-left li a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2rem;
}
.nav-left li a:hover {
  color: violet;
}
.nav-right {
  width: 50%;
  /* background-color: blueviolet; */
  text-align: end;
  padding: 0 25px;
}

.nav-background {
  background: rgba(0, 0, 0, 0.7) url("../images/back.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

#search {
  border: lightgray 4px solid;
  border-radius: 25px;
  padding: 4px;
  font-size: 1rem;
  background: whitesmoke;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 50%;
  margin: auto;
  height: inherit;
}

.first-section {
  height: 80vh;
}
.second-half img {
  width: 85%;
  border: aqua 2px solid;
  border-radius: 100px;
  display: block;
  margin: auto;
}

.first-half {
  width: 80%;
}
.second-half {
  width: 30%;
}

.big-text {
  font-size: 2.2rem;
}

.small-text {
  font-size: 1.5rem;
}

.btn {
  padding: 7px 10px;
  margin: 5px 6px;
  border: red 2px solid;
  border-radius: 15px;
  font-size: 0.8rem;
  cursor: pointer;
  background: none;
  color: aqua;
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn-small {
  padding: 5px 8px;
}

.section {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}

.left-section {
  flex-direction: row-reverse;
}

.paragraph {
  padding: 0 20px;
}

.image img {
  width: 200px;
  border: grey 2px solid;
  border-radius: 100px;
}
.contact {
  height: 60vh;
  background-color: honeydew;
}
.contact .cinput {
  text-decoration: none;
  width: 100%;
  margin: 10px auto;
  padding: 5px 5px;
  font-size: 1rem;
  border: rgb(159, 105, 197) 2px solid;
  border-radius: 10px;
  text-decoration: none;
}

.btn-dark {
  color: lightseagreen;
  font-weight: bold;
  border: rgb(159, 105, 197) 2px solid;
}

.form {
  max-width: 500px;
  margin: 10px auto;
}
